@CHARSET "ISO-8859-1";html, body, div, h1, h2, h3, h4, h5, h6, p, a, span, img, ul, ol, dl, li, dt, dd, form, input {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-style: normal;
  font-weight: normal;
  vertical-align: baseline;
  box-sizing: border-box;
  line-height: 1.4;
  -webkit-text-size-adjust: 100%;
  color: #666;
  transition: font-size .3s linear 0;
  -webkit-tap-highlight-color: transparent; }


h1, h2, h3, h4, h5, h6 {
  font-weight: bold; }

body{
	background: url(Boston-new.jpg) no-repeat center center fixed;
	font-family: "Times New Roman", Times, serif;
	font-size: 15px;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size:cover;
   	background-size:cover;	
		
}

.custom-padding{
	padding:5px;
}

ul, ol {
  list-style: none; }

#background {
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: top center;
  transition: background-image 1s linear 0, background-color 1s linear 0; }

.morning #background {
  background-image: url(Boston_trans.jpg);
  background-color: #b8daf2; }

.night #background {
  background-image: url(boston-night.jpg);
  background-color: #030303; }

@media screen and (max-width: 763px) {
  .morning #background {
    background-image: url(BOSTON.jpg); }
  .night #background {
    background-image: url(boston-night.jpg); } }

#container {
  position: relative;
  width: 100%; }

#header {
  position: relative;
  width: 100%;
  height: 87px; }
  
@media screen and (max-width: 763px) {
  #header {
    height: 49px; } }

#nav {
  position: absolute;
  top: 50%;
  width: 100%;
  height: 8%;
  z-index: 1000; }

@media screen and (max-width: 763px) {
  #nav {
    top: 280px;
    left: 0; } }

#f-content {
  position: relative;
  width: 1008px;
  margin: 0 auto; }
#dateDiv {
	font-size:16px;
	color:black;
	top:15px;
	margin-left:350px;
}
@media screen and (max-width: 763px) {
  #f-content {
    width: 320px;
    margin: 0 auto;
    overflow: hidden; } }

#f-contentHeader {
  position: relative;
  width: 100%;
  height: 460px; }
  #f-contentHeader h2 {
    position: absolute;
    top: 10%;
    width: 100%;
    text-align: center;
    font-size: 40px;
    letter-spacing:0px;
    transition-property: none !important;
    transition-duration: 0s !important; }
    #f-contentHeader h2 .e-word1 {
      transition: color 1s linear 0;
      color: #004577; }
    #f-contentHeader h2 .e-word2 {
      transition: color 1s linear 0;
      color: #004577; }
  #f-contentHeader p {
    position: absolute;
    top: 20%;
    width: 100%;
    margin-top: 35px;
    text-align: center;
    font-size: 16px;
    transition: color 1s linear 0;
    color:black; }

@media screen and (max-width: 763px) {
  #f-contentHeader {
    height: 388px; }
    #f-contentHeader h2 {
      position: absolute;
      top: 25%;
      width: 100%;
      text-align: center;
      font-size: 28px; }
    #f-contentHeader p {
      position: absolute;
      top: 25%;
      width: 100%;
      margin-top: 45px;
      text-align: center;
      font-size: 14px; }
    #f-contentHeader #e-time {
      top: 25%;
      left: 50%;
      width: 190px;
      margin-top: 115px;
      margin-left: -95px; }
      #f-contentHeader #e-time p {
        font-size: 10px; }
      #f-contentHeader #e-time .js-time {
        font-size: 21px; }
        #f-contentHeader #e-time .js-time span {
          font-size: 18px; } }

#footer {
  position: relative;
  width: 100%;
  height: 68px; 
  top:300px;
  margin:auto;}
  #footer #b-utilitylinks {
    position: absolute;
    top: 30px;
    left: 80px; }
    #footer #b-utilitylinks li {
      float: left;
      display: inline-block;
      font-size: 14px;
      padding-right: 18px; }
      #footer #b-utilitylinks li a {
        color: #ffffff;
        text-decoration: none;
        transition: text-decoration .15s linear 0;
        transition: color 1s linear 0; }
        #footer #b-utilitylinks li a:hover {
          text-decoration: underline; }
  #footer .e-license {
    position: absolute;
    top: 9px;
    right: 20px;
    color: #ffffff;
    font-size: 10px;
    transition: color 1s linear 0; }
  #footer .e-copyright {
    position: absolute;
    top: 26px;
    right: 20px;
    color: #333;
    font-size: 12px;
    transition: color 1s linear 0; }
	
	#footer #btn-fb {
    position: absolute;
    top: 26px;
    left: 330px; }
	#footer #btn-tw {
    position: absolute;
    top: 26px;
    left: 395px; }

@media screen and (max-width: 763px) {
  #footer {
    width: 320px;
	height:88px;
    margin: 0 auto; }
    #footer #b-utilitylinks {
      width: 250px;
      top: 0;
      left: 33px; }
      #footer #b-utilitylinks li {
        text-align: center;
        padding-right: 0;
        width: 90px; }
        #footer #b-utilitylinks li:last-child {
          width: 70px; }
    #footer .e-license {
      font-size: 6px;
      top: 60px;
      left: 50px; }
    #footer .e-copyright {
      font-size: 8px;
      top: 45px;
      left: 50px; } 
	  
	#footer #btn-fb {
    top: 20px;
    left: 95px; }
	#footer #btn-tw {
    top: 20px;
    left: 165px; }}

#nav-li {
  height: 100%;
  margin-left:15%;
  margin-right:15%   
  }
  #nav-li li {
    float: left;
    width: 150px;
    height: 90%;
    top:20%;
    background: #004577;
    border-radius: 3px;
    margin-right:7px;
    text-align: left; }
    #nav-li li a {
      display: block;
      width: 100%;
      height: 90%;
      font-size: 14px;
      text-decoration: none;
      text-align: center; }
      #nav-li li a span {
        display: inline-block;
        margin-top: 7px;
        height: 30px;
        padding-left: 10px;
        background-repeat: no-repeat;
        background-position: left 2px;
        line-height: 16px;
        text-align: center;
        transition: color .1s linear 0, background-image .2s linear 0; }
    #nav-li li.nav-li1 span {
        color: #fff;
        text-align: center; }
    #nav-li li.nav-li1:hover span {
      color: #faa428;
      text-align: center;
    }
    #nav-li li.nav-li2 span {
      color: #fff;
      line-height: 36px;
      text-align: center;
     }
    #nav-li li.nav-li2:hover span {
      color: #e73139;
      }
    #nav-li li.nav-li3 span {
       color: #fff;
      }
    #nav-li li.nav-li3:hover span {
      color: #00afef;
      }
    #nav-li li.nav-li4 span {
      color: #fff;
      }
    #nav-li li.nav-li4:hover span {
      color: #06914b;
      }
    #nav-li li.nav-li5 span { 	
     color: #fff;
     }
    #nav-li li.nav-li5:hover span {
      color: #cc8f0d;
    }
    #nav-li li.nav-li6 span { 	
      color: #fff;
     }
    #nav-li li.nav-li6:hover span {
      color: #06914b;
    }

@media screen and (max-width: 763px) {
  #nav-li {
    width: 304px; }
    #nav-li li {
      width: 60px;
      height: 70px;
      margin-right: 1px;
      border-radius: 0; }
      #nav-li li a {
        font-size: 11px; }
        #nav-li li a span {
          text-align: center;
          line-height: 10px !important;
          letter-spacing: -1px;
          padding-top: 35px;
          padding-left: 0;
          background-position: center top; }
      #nav-li li.nav-li1 span {
        background-size: 31px;
        background-position: center top; }
      #nav-li li.nav-li2 span {
        background-image: url(/en/top/images/top_ico_gnav_02_sp.png);
        background-size: 29px;
        background-position: center 2px; }
      #nav-li li.nav-li3 span {
        background-image: url(/en/top/images/top_ico_gnav_03_sp.png);
        background-size: 34px;
        background-position: center top; }
      #nav-li li.nav-li4 span {
        background-image: url(/en/top/images/top_ico_gnav_04_sp.png);
        background-size: 25px;
        background-position: center -4px; }
      #nav-li li.nav-li5 span {
        background-image: url(/en/top/images/top_ico_gnav_05_sp.png);
        background-size: 29px;
        background-position: center 2px; } }

.b-column1 {
  width: 270px;
  text-alignment: center;
  float:left;
  padding:1px;
 }
  
.b-column2 {
	width:310 px;
	float:left;
	margin-left:30px;
}
.b-column3 {
	width: 170px;
	margin-left:600px;
	}
@media screen and (max-width: 763px) {
  .b-column {
    width: 320px;
    overflow: visible; } }

#e-metro {
  position: absolute;
  top: 15px;
  left: 15px;
  width: 112px;
  height: auto; 
  }
  #e-metro img {
    width: 100%;
    height: auto; }

@media screen and (max-width: 763px) {
  #e-metro {
    top: 8px;
    left: 8px;
    width: 64px;
    height: 33px; }
    #e-metro img {
      position: absolute;
      top: 0;
      left: 0; } }

#e-metro-footer {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 58px;
  height: auto; }
  #e-metro-footer img {
    width: 100%;
    height: auto; }

@media screen and (max-width: 763px) {
  #e-metro-footer {
    top: 47px;
    left: 8px;
    width: 34px;
    height: 18px; }
    #e-metro-footer img {
      position: absolute;
      top: 0;
      left: 0; } }

#e-searchBtn {
  display: none; }

@media screen and (max-width: 763px) {
  #e-searchBtn {
    display: block;
    position: absolute;
    top: 0;
    right: 8px;
    width: 33px;
    height: 33px;
    border: solid 1px #8dbbd7;
    border-radius: 2px;
    background-image: url(/en/top/images/top_btn_01_sp.png);
    background-size: 31px;
    background-position: left top;
    z-index: 18000; }
    #e-searchBtn.m-open {
      position: fixed;
      top: 8px;
      border-bottom: 0;
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0;
      background-color: #fff; } }

#e-langBtn {
  display: none; }

@media screen and (max-width: 763px) {
  #e-langBtn {
    display: inline-block;
    position: absolute;
    top: 0;
    right: 48px;
    height: 33px;
    padding: 0 8px;
    border: solid 1px #8dbbd7;
    border-radius: 2px;
    z-index: 18000;
    font-size: 11px;
    line-height: 31px;
    color: #8dbbd7; }
    #e-langBtn.m-open {
      position: fixed;
      top: 8px;
      border-bottom: 0;
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0;
      background-color: #fff; } }

.e-btn-arrow {
  display: inline-block;
  padding-right: 20px;
  background-image: url(/en/top/images/top_ico_03.png);
  background-size: 13px;
  background-repeat: no-repeat;
  background-position: right center;
  font-size: 13px;
  color: #187fa5;
  transition: opacity .15s linear 0; }
  .e-btn-arrow a {
    text-decoration: none;
    font-size: 13px;
    color: #187fa5; }
  .e-btn-arrow:hover {
    opacity: .5;
    text-decoration: underline; }

.e-btn-pdf {
  display: inline-block;
  font-size: 13px;
  color: #187fa5;
  transition: opacity .15s linear 0; }
  .e-btn-pdf a {
    text-decoration: none;
    font-size: 13px;
    color: #187fa5; }
  .e-btn-pdf:after {
    content: 'PDF';
    border: solid 1px #54a5c2;
    padding: 0 6px;
    font-size: 10px;
    margin-left: 4px; }
  .e-btn-pdf:hover {
    opacity: .5;
    text-decoration: underline; }

.e-list-arrow {
  width: 100%; }
  .e-list-arrow li {
    width: 100%;
    border: solid 1px #b9d8e4;
    font-size: 15px;
    margin-bottom: 9px;
    background-image: url(/en/top/images/top_ico_03.png);
    background-size: 13px;
    background-repeat: no-repeat;
    background-position: 250px center;
    transition: opacity .15s linear 0; }
    .e-list-arrow li a {
      display: block;
      padding: 21px 30px 21px 16px;
      text-alignment: center;
      color: #187fa5; }
    .e-list-arrow li:last-child {
      margin-bottom: 0; }
    .e-list-arrow li:hover {
      opacity: .5; }

.e-list-etc {
  width: 100%; }
  .e-list-etc li {
    width: 100%;
    border-top: solid 1px #b9d8e4;
    font-size: 15px;
    color: #187fa5;
    transition: opacity .15s linear 0; }
    .e-list-etc li a {
      display: block;
      padding: 11px 40px 11px 16px;
      color: #187fa5; }
    .e-list-etc li.m-arrow {
      background-image: url(/en/top/images/top_ico_03.png);
      background-size: 13px;
      background-repeat: no-repeat;
      background-position: 250px center; }
    .e-list-etc li.m-pdf {
      position: relative; }
      .e-list-etc li.m-pdf:after {
        position: absolute;
        top: 50%;
        right: 0;
        content: 'PDF';
        border: solid 1px #54a5c2;
        padding: 0 6px;
        font-size: 10px;
        margin-left: 4px;
        margin-top: -10px; }
    .e-list-etc li:hover {
      opacity: .5; }

.e-list-item {
  width: 100%;
  margin-top: 14px; }
  .e-list-item:after {
    content: '';
    clear: both;
    display: block; }
  .e-list-item li {
    float: left;
    display: block;
    width: 82px;
    height: 91px;
    margin-right: 14px;
    margin-bottom: 14px;
    border: solid 1px #b9d8e4;
    border-radius: 2px;
    font-size: 12px;
    text-align: center;
    color: #187fa5;
    background-repeat: no-repeat;
    transition: opacity .15s linear 0; }
    .e-list-item li a {
      line-height: 1.1;
      height: 100%;
      display: block;
      padding-top: 50px;
      color: #187fa5;
      text-decoration: none; }
      .e-list-item li a:hover {
        text-decoration: underline; }
    .e-list-item li.e-li01 {
      background-image: url(/en/top/images/top_ico_04.png);
      background-size: 35px;
      background-position: center 14px; }
    .e-list-item li.e-li02 {
      background-image: url(/en/top/images/top_ico_05.png);
      background-size: 34px;
      background-position: center 16px; }
    .e-list-item li.e-li03 {
      background-image: url(/en/top/images/top_ico_06.png);
      background-size: 42px;
      background-position: center 15px; }
    .e-list-item li.e-li04 {
      background-image: url(/en/top/images/top_ico_07.png);
      background-size: 43px;
      background-position: center 10px; }
    .e-list-item li.e-li05 {
      background-image: url(/en/top/images/top_ico_08.png);
      background-size: 23px;
      background-position: center 10px; }
    .e-list-item li.e-li06 {
      background-image: url(/en/top/images/top_ico_09.png);
      background-size: 37px;
      background-position: center 14px; }
    .e-list-item li.e-li07 {
      background-image: url(/en/top/images/top_ico_10.png);
      background-size: 37px;
      background-position: center 10px;
      height: 111px; }
    .e-list-item li.m-turn {
      margin-right: 0; }
    .e-list-item li:hover {
      opacity: .5; }

#e-totop {
  position: fixed;
  z-index: 100000;
  width: 40px;
  height: 43px;
  background-image: url(/en/top/images/top_ico_totop_m.png);
  background-size: 40px;
  background-repeat: none;
  bottom: 60px;
  left: 50%;
  margin-left: 500px;
  transition: background-image 1s linear 0, opacity .15s linear 0; }

@media screen and (max-width: 763px) {
  #e-totop {
    width: 40px;
    margin-left: 0;
    bottom: 20px;
    left: auto;
    right: 20px; } }

.e-slideshow {
  height: 224px; }
  .e-slideshow li {
    position: absolute;
    top: 0;
    left: 0; }
  .e-slideshow img {
    width: 100%;
    height: auto; }

.e-capture {
  display: block;
  width: 294px;
  height: 29px;
  line-height: 29px;
  text-align: center; }

.js-modalBtn {
  cursor: pointer; }

.js-modalContent {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 30000;
  background-color: rgba(0, 0, 0, 0.8);
  opacity: 1 !important; }
  .js-modalContent:hover {
    opacity: 1 !important; }

.e-modalInner {
  position: absolute;
  top: 45%;
  left: 50%;
  margin-top: -157px;
  margin-left: -280px; }

.e-modalLoading {
  position: absolute;
  top: 45%;
  left: 50%;
  width: 560px;
  height: 315px;
  margin-top: -157px;
  margin-left: -280px;
  background-color: rgba(66, 66, 66, 0.7);
  color: #fff;
  text-align: center;
  line-height: 315px; }

@media screen and (max-width: 763px) {
  .e-modalInner {
    position: absolute;
    width: 100%;
    top: 20%;
    left: 0;
    margin-top: 0;
    margin-left: 0; }
    .e-modalInner iframe {
      width: 100%; }
  .e-modalLoading {
    display: none; }
  .video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden; }
  .video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; } }

.e-movie {
  position: absolute;
  top: 80px;
  left: 0;
  width: 304px;
  color: #fff !important;
  font-size: 18px !important;
  text-align: center; }

.e-moviePlay {
  display: block;
  position: absolute;
  width: 140px;
  top: 120px;
  left: 50%;
  padding-left: 26px;
  margin-left: -70px;
  color: #fff !important;
  font-size: 15px !important;
  background-image: url(/en/top/images/top_ico_11.png);
  background-position: left 2px;
  background-size: 18px;
  background-repeat: no-repeat; }

.h-raleway {
  font-family: Raleway; }

.h-fr {
  float: right; }

.h-w130 {
  width: 130px; }

.h-h217 {
  height: 217px; }

.h-h249 {
  height: 249px; }

.h-ofv {
  overflow: visible !important;
  padding: 10px; }
  
.alerts {
	padidng:5px;
}

.h-ls {
  letter-spacing: -1px; }

.h-hover {
  transition: opacity .15s linear 0; }
  .h-hover:hover {
    opacity: .5; }

.h-hover-child > * {
  transition: opacity .15s linear 0; }
.h-hover-child:hover > * {
  opacity: .5; }

.h-p0 {
  padding: 0 !important; }

.h-p5 {
  padding: 5px !important; }

.h-p10 {
  padding: 10px !important; }

.h-pb14 {
  padding-bottom: 14px; }

.h-pr50 {
  padding-right: 50px; }

.h-mt10 {
  margin-top: 10px; }

.h-mt24 {
  margin-top: 24px; }

.h-mt40 {
  margin-top: 40px; }

.h-mt42 {
  margin-top: 42px; }

.h-mb14 {
  margin-bottom: 14px; }

.h-bb0 {
  border-bottom: 0 !important; }
  
.btn-seeAll {
    position: absolute;
    top: 30px;
    left: 232px; }

.fontsize_m .e-item h2 {
  font-size: 25px !important; }
.fontsize_m .e-item h3 {
  font-size: 18px !important; }
.fontsize_m .e-item p {
  font-size: 15px !important; }
.fontsize_m .e-item .e-btn-arrow {
  font-size: 15px !important; }
.fontsize_m .e-item .e-btn-arrow a {
  font-size: 15px !important; }
.fontsize_m .e-item .e-btn-pdf {
  font-size: 15px !important; }
.fontsize_m .e-item .e-list-arrow li {
  font-size: 17px !important; }
.fontsize_m .e-item .e-list-etc li {
  font-size: 17px !important; }
.fontsize_m #footer #b-utilitylinks li {
  font-size: 14px !important; }
.fontsize_m .e-lisense {
  font-size: 14px !important; }
.fontsize_m .e-copyright {
  font-size: 14px !important; }

.fontsize_l .e-item h2 {
  font-size: 27px !important; }
.fontsize_l .e-item h3 {
  font-size: 20px !important; }
.fontsize_l .e-item p {
  font-size: 17px !important; }
.fontsize_l .e-item .e-btn-arrow {
  font-size: 17px !important; }
.fontsize_l .e-item .e-btn-arrow a {
  font-size: 17px !important; }
.fontsize_l .e-item .e-btn-pdf {
  font-size: 17px !important; }
.fontsize_l .e-item .e-list-arrow li {
  font-size: 19px !important; }
.fontsize_l .e-item .e-list-etc li {
  font-size: 19px !important; }
.fontsize_l #footer #b-utilitylinks li {
  font-size: 16px !important; }
.fontsize_l .e-lisense {
  font-size: 16px !important; }
.fontsize_l .e-copyright {
  font-size: 16px !important; }

.afternoon #f-contentHeader h2 .e-word1, .afternoon #f-contentHeader h2 .e-word2 {
  color: #fff; }
.afternoon #f-contentHeader p {
  color: #fff; }
.afternoon #f-contentHeader #e-time {
  background-image: url(/en/top/images/top_ico_02_a.png); }
  .afternoon #f-contentHeader #e-time p {
    color: #fff; }
  .afternoon #f-contentHeader #e-time .js-time {
    color: #fff; }
    .afternoon #f-contentHeader #e-time .js-time span {
      color: #fff; }

.evening #e-totop {
  background-image: url(/en/top/images/top_ico_totop_e.png); }
.evening #b-langBox {
  border-right: solid 1px #ccc; }
  .evening #b-langBox li {
    border: solid 1px #ccc;
    border-right: 0; }
    .evening #b-langBox li a {
      color: #ddd; }
.evening #e-searchBtn {
  border: solid 1px #ccc; }
  .evening #e-searchBtn.m-open {
    position: fixed;
    top: 8px;
    border-bottom: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    background-color: #fff; }
@media screen and (max-width: 763px) {
  .evening #e-searchBtn {
    background-image: url(/en/top/images/top_btn_01_sp2.png); } }
.evening #b-searchBox input {
  border: solid 1px #ccc; }
@media screen and (max-width: 763px) {
  .evening #b-searchBox input {
    background-image: url(/en/top/images/top_btn_01_sp2.png); } }
.evening #b-changeTextSizeBox p {
  color: #ddd; }
.evening #b-changeTextSizeBox #fontsizeList li {
  border: solid 1px #ccc;
  color: #ddd; }
  .evening #b-changeTextSizeBox #fontsizeList li.m-active {
    color: #fff; }
.evening #f-contentHeader h2 .e-word1, .evening #f-contentHeader h2 .e-word2 {
  color: #fff; }
.evening #f-contentHeader p {
  color: #fff; }
.evening #f-contentHeader #e-time {
  background-image: url(/en/top/images/top_ico_02_a.png); }
  .evening #f-contentHeader #e-time p {
    color: #fff; }
  .evening #f-contentHeader #e-time .js-time {
    color: #fff; }
    .evening #f-contentHeader #e-time .js-time span {
      color: #fff; }
.evening #footer #b-utilitylinks li a {
  color: #aaa; }
.evening #footer .e-license {
  color: #666; }
.evening #footer .e-copyright {
  color: #aaa; }

.night #e-totop {
  background-image: url(/en/top/images/top_ico_totop_e.png); }
.night #b-langBox {
  border-right: solid 1px #666; }
  .night #b-langBox li {
    border: solid 1px #666;
    border-right: 0; }
    .night #b-langBox li a {
      color: #aaa; }
.night #e-searchBtn {
  border: solid 1px #666; }
  .night #e-searchBtn.m-open {
    position: fixed;
    top: 8px;
    border-bottom: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    background-color: #fff; }
@media screen and (max-width: 763px) {
  .night #e-searchBtn {
    background-image: url(/en/top/images/top_btn_01_sp2.png); } }
.night #b-searchBox input {
  border: solid 1px #666; }
@media screen and (max-width: 763px) {
  .night #b-searchBox input {
    background-image: url(/en/top/images/top_btn_01_sp2.png); } }
.night #b-changeTextSizeBox p {
  color: #aaa; }
.night #b-changeTextSizeBox #fontsizeList li {
  border: solid 1px #666;
  color: #aaa; }
  .night #b-changeTextSizeBox #fontsizeList li.m-active {
    color: #fff; }
.night #f-contentHeader h2 .e-word1, .night #f-contentHeader h2 .e-word2 {
  color: #fff; }
.night #f-contentHeader p {
  color: #fff; }
.night #f-contentHeader #e-time {
  background-image: url(/en/top/images/top_ico_02_n.png); }
  .night #f-contentHeader #e-time p {
    color: #fff; }
  .night #f-contentHeader #e-time .js-time {
    color: #fff; }
    .night #f-contentHeader #e-time .js-time span {
      color: #fff; }
.night #footer #b-utilitylinks li a {
  color: #aaa; }
.night #footer .e-license {
  color: #666; }
.night #footer .e-copyright {
  color: #aaa; }

#body {
  width: 100%;
  padding-left: 10px; }
  #body:after {
    content: '';  
    display: block; 
      }
  #body .e-item {
    position: relative;
    
    width: 270px;
    background-color: #fff;
    top: -100px;
    margin-left: 24px;
    margin-bottom: 24px;
    padding: 0 -10px 0;
    padding: 10px;
    color:black; }
    #body .e-item:after {
      content: '';
      display: block; }
    #body .e-item a {
      text-decoration: none;
      display: block;
     }
    #body .e-item h2 {
      font-size: 20px;
      text-align:center;
      font-weight: normal;
      font-family: Times New Roman, Times, serif;
      color: black;
     
      padding-top: 15px; }
    #body .e-item p {
      overflow: hidden;
      font-size: 13px;
      color: black; 
      text-align:center; }
    #body .e-item > p {
      padding-top: 10px; }
    #body .e-item > a > p {
      padding-top: 10px; }
    #body .e-item .e-itemBox {
      border-bottom: solid 1px #d8e1e7;
      padding-top: 15px;
      padding-bottom: 14px; }
      #body .e-item .e-itemBox a {
        display: block;
        text-decoration: none; }
      #body .e-item .e-itemBox div.h-fl img {
        margin-right: 10px; }
      #body .e-item .e-itemBox div.h-fr img {
        margin-left: 10px; }
      #body .e-item .e-itemBox h3 {
        font-size: 16px;
        font-weight: normal;
        color: #3b4245;
        margin-bottom: 7px; }
      #body .e-item .e-itemBox .e-btn-arrow {
        margin-top: 8px; }
      #body .e-item .e-itemBox:last-child {
        border-bottom: 0; }

@media screen and (max-width: 763px) {
  #body {
    padding-left: 0;
    overflow: visible; }
    #body .e-item {
      margin: 0 8px 27px; } }

.m-deco {
  position: absolute;
  top: -38px;
  right: -15px; }
